<h1 class="text-center">Gossip</h1>

<div class="card text-center">
  <div class="card-header">
    <p>Author:</p><button type="button" class="btn btn-sm"><%= link_to("#{@gossip.user.first_name}", "user/#{@gossip.user.id}")%></button><br><br>
    <p>Author City:<%= link_to "#{@gossip.user.city.name}", "city/#{@gossip.user.city.id}" %> </p>
  </div>

  <div class="card-body">
    <h3 class="card-title">Title: <%=@gossip.title%></h3>
    <h5 class="card-title">Content: <%=@gossip.content%></h5>
    <a href="/gossips" class="btn btn-primary">Home</a>
    <button class="btn btn-xs btn-dark"><%= link_to 'Remove', @gossip, method: :delete, data: { confirm: 'Are you sure?' } %></button>
  </div>
</div>

<h1>Commentaires</h1>
<h3>Comments</h3>
<%= render partial: 'comments/form' %>
<%= render partial: 'gossips/comment', collection: @gossip.comments.reverse %>
