<h1>User#new</h1>
<p>Find me in app/views/user/new.html.erb</p>

<h2> Create Account</h2>

<%=form_tag url_for(action: 'create'),  method: :post do%>

 <div>
  <%= label_tag :first_name%>
  <%= text_field_tag :first_name%>
 </div>
  <div>
  <%= label_tag :last_name%>
  <%= text_field_tag :last_name%>
 </div>
 <div>
  <%= label_tag :email%>
  <%= text_field_tag :email%>
 </div>
 <div>
  <div>
  <%= label_tag :description%>
  <%= text_field_tag :description %>
 </div>
  <div>
  <%= label_tag :age%>
  <%= text_field_tag :age%>
 </div>
  <%= label_tag :password%>
  <%= password_field_tag :password%>
 </div>
 
<%= submit_tag "Sign Up", class: "btn btn-default"%>
<%end%>